@import "tailwindcss";

.main {
	background-image: url('/bg.png');
	background-size: cover;
	/* makes it cover the whole screen */
	background-position: center;
	/* keeps it centered */
	background-repeat: no-repeat;
	/* prevent tiling */
	background-attachment: fixed;
	/* makes it stay fixed while scrolling */
}