@import "tailwindcss";

.main {
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	background-color: #060010;
}

.iridescence-container {
	width: 100%;
	height: 100%;
	/* background-color: #271e37; */
}